USERS_API_URL=https://xmfpmv4036.execute-api.us-east-1.amazonaws.com/default/
TASKS_API_URL=https://l0ljrqz7jk.execute-api.us-east-1.amazonaws.com/

USER_POOL_ID=us-east-1_ArOBWZ8lA
USER_POOL_CLIENT_ID=2njpae6p8qci6uhh44eumgsh3r